body {
    color: white;
    background-color: black;
}
section {
background: gray;
padding-bottom: 80px;
padding-top: 80px;
padding-left: 25px;
padding-right: 25px;
display: flex;
justify-content: center;
}

div {
    padding-right: 25px;
}

.chamada-texto{
    padding-right: 5%;
    padding-left: 5%;
    background-color: black;    
}
.chamada-texto2{
    padding-right: 5%;
    padding-left: 5%;
    background-color: black;
    border-radius:8px; 
    margin:10px;
}

.categoria_videos{
    display: flex;
    overflow-x: auto;
    
}
img{
    width:320px; 
    height:auto; 
    border-radius:8px; 
    margin:10px;
}